Repository google/filonov: changes, and which pre-commit hooks are due for each by the changed paths.
All: tagging-tests, fetching-tests, similarity-tests, filonov-tests

tagging-tests:
  name: tagging-tests
  entry: pytest -n auto libs/media_tagging/tests/unit
  language: system
  pass_filenames: false

fetching-tests:
  name: fetching-tests
  entry: pytest -n auto libs/media-fetching/tests/unit
  language: system
  pass_filenames: false

similarity-tests:
  name: similarity-tests
  entry: pytest -n auto libs/media_similarity/tests/unit
  language: system
  pass_filenames: false

filonov-tests:
  name: filonov-tests
  entry: pytest -n auto libs/filonov/tests/unit
  language: system
  pass_filenames: false

chore: add request info to otel span attributes
  libs/filonov/filonov/filonov_service.py
  libs/media_similarity/media_similarity/idf_context.py
  libs/media_similarity/media_similarity/media_similarity_service.py
Due: similarity-tests, filonov-tests

chore: migrate versions of all libraries to version module
  .github/workflows/publish-filonov.yaml
  .github/workflows/publish-media-fetching.yaml
  .github/workflows/publish-media-similarity.yaml
  libs/filonov/filonov/__init__.py
  libs/filonov/filonov/entrypoints/cli.py
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/version.py
  libs/filonov/pyproject.toml
  libs/media-fetching/media_fetching/__init__.py
  libs/media-fetching/media_fetching/entrypoints/cli.py
  libs/media-fetching/media_fetching/entrypoints/server.py
  libs/media-fetching/media_fetching/version.py
  libs/media-fetching/pyproject.toml
  libs/media_similarity/media_similarity/entrypoints/cli.py
  libs/media_similarity/media_similarity/entrypoints/server.py
  libs/media_similarity/media_similarity/version.py
  libs/media_similarity/pyproject.toml
  libs/media_tagging/media_tagging/entrypoints/server.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat: provide library version in process span attributes
  libs/filonov/filonov/entrypoints/cli.py
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/entrypoints/tasks.py
  libs/media-fetching/media_fetching/entrypoints/cli.py
  libs/media-fetching/media_fetching/entrypoints/server.py
  libs/media_similarity/media_similarity/entrypoints/cli.py
  libs/media_similarity/media_similarity/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/cli.py
  libs/media_tagging/media_tagging/entrypoints/tracer.py
  libs/media_tagging/media_tagging/version.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): update gRPC server
  libs/media_tagging/media_tagging/entrypoints/grpc_server.py
  libs/media_tagging/media_tagging/tagging_pb2.py
  libs/media_tagging/media_tagging/tagging_pb2_grpc.py
  libs/media_tagging/tests/end-to-end/test_grpc_server.py
  protos/tagging.proto
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

chore: move library versions from process to span otel attributes
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/telemetry.py
  libs/media-fetching/media_fetching/entrypoints/server.py
  libs/media-fetching/media_fetching/telemetry.py
  libs/media_similarity/media_similarity/entrypoints/server.py
  libs/media_similarity/media_similarity/telemetry.py
  libs/media_tagging/media_tagging/entrypoints/tracer.py
  libs/media_tagging/media_tagging/telemetry.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

fix(tag): don't save already pesisted tagging results
  libs/media_tagging/media_tagging/media_tagging_service.py
  libs/media_tagging/media_tagging/version.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(fet): remove youtube connector when working with googleads source
  libs/media-fetching/media_fetching/sources/googleads.py
  libs/media-fetching/media_fetching/sources/queries.py
  libs/media-fetching/media_fetching/sources/youtube.py
  libs/media-fetching/media_fetching/version.py
Due: fetching-tests, filonov-tests

feat(fl): ensure that Youtube can be handled in multiple way
  libs/filonov/filonov/creative_map.py
  libs/filonov/filonov/entrypoints/cli.py
  libs/filonov/filonov/filonov_service.py
  libs/filonov/filonov/version.py
Due: filonov-tests

fix(tag): raise error when Gemini API key not provided
  .github/workflows/test-media-tagging.yaml
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagger.py
  libs/media_tagging/media_tagging/version.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

chore: explicitly specify package location in pyproject.toml
  libs/filonov/filonov/version.py
  libs/filonov/pyproject.toml
  libs/media-fetching/media_fetching/version.py
  libs/media-fetching/pyproject.toml
  libs/media_similarity/media_similarity/version.py
  libs/media_similarity/pyproject.toml
  libs/media_tagging/media_tagging/version.py
  libs/media_tagging/pyproject.toml
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

ci: push to ghcr on library version change
  .github/workflows/push-filonov-to-github-packages.yaml
  .github/workflows/push-media-fetching-to-github-packages.yaml
  .github/workflows/push-media-similarity-to-github-packages.yaml
  .github/workflows/push-media-tagging-to-github-packages.yaml
Due: none

chore: update dependencies and remove manual otel instrumentation
  libs/filonov/Dockerfile
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/entrypoints/tasks.py
  libs/filonov/filonov/version.py
  libs/filonov/requirements.txt
  libs/filonov/uv.lock
  libs/media-fetching/Dockerfile
  libs/media-fetching/media_fetching/entrypoints/server.py
  libs/media-fetching/media_fetching/version.py
  libs/media-fetching/requirements.txt
  libs/media-fetching/uv.lock
  libs/media_similarity/Dockerfile
  libs/media_similarity/media_similarity/entrypoints/server.py
  libs/media_similarity/media_similarity/version.py
  libs/media_similarity/requirements.txt
  libs/media_similarity/uv.lock
  libs/media_tagging/Dockerfile
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/tasks.py
  libs/media_tagging/media_tagging/repositories.py
  libs/media_tagging/media_tagging/version.py
  libs/media_tagging/pyproject.toml
  libs/media_tagging/requirements.txt
  libs/media_tagging/uv.lock
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

fix: update requirements and provide correct version for filonov
  libs/filonov/filonov/version.py
  libs/filonov/requirements.txt
  libs/filonov/uv.lock
  libs/media-fetching/requirements.txt
  libs/media-fetching/uv.lock
  libs/media_similarity/requirements.txt
  libs/media_similarity/uv.lock
  libs/media_tagging/pyproject.toml
  libs/media_tagging/requirements.txt
  libs/media_tagging/uv.lock
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(helm): add dependencies to all charts
  helm-charts/filonov/Chart.lock
  helm-charts/filonov/Chart.yaml
  helm-charts/filonov/templates/_helpers.tpl
  helm-charts/filonov/templates/deployment.yaml
  helm-charts/filonov/templates/worker-deployment.yaml
  helm-charts/filonov/values.yaml
  helm-charts/media-similarity/Chart.lock
  helm-charts/media-similarity/Chart.yaml
  helm-charts/media-similarity/templates/_helpers.tpl
  helm-charts/media-similarity/templates/deployment.yaml
  helm-charts/media-similarity/values.yaml
  helm-charts/media-tagging/Chart.lock
  helm-charts/media-tagging/Chart.yaml
  helm-charts/media-tagging/templates/_helpers.tpl
  helm-charts/media-tagging/templates/worker-deployment.yaml
  helm-charts/media-tagging/values.yaml
Due: none

fix(fl): avoid source selector switch via source_parameters
  libs/filonov/filonov/entrypoints/tasks.py
  libs/media-fetching/media_fetching/sources/sql.py
  libs/media-fetching/tests/unit/sources/test_sql.py
Due: fetching-tests, filonov-tests

fix(fl): allow writing filonov maps only to a specified location
  libs/filonov/filonov/entrypoints/utils.py
  libs/filonov/tests/unit/entrypoints/test_utils.py
Due: filonov-tests

feat(tag): remove server option for writing tagging results to a destination
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/tasks.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

Path conditions:
  tagging-tests: any of: ^libs/media_tagging/
  fetching-tests: any of: ^libs/(media_tagging|media-fetching)
  similarity-tests: any of: ^libs/(media_tagging|media_similarity)
  filonov-tests: any of: ^libs/(media_tagging/.*|media_similarity/.*|media-fetching/.*|filonov/.*)\.py$
