Repository google/filonov: changes, and which pre-commit hooks are due for each by the changed paths.
All: tagging-tests, fetching-tests, similarity-tests, filonov-tests

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
    exclude: uv.lock
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.6
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: tagging-tests
    name: tagging-tests
    entry: pytest -n auto libs/media_tagging/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/media_tagging/
  - id: fetching-tests
    name: fetching-tests
    entry: pytest -n auto libs/media-fetching/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/(media_tagging|media-fetching)
  - id: similarity-tests
    name: similarity-tests
    entry: pytest -n auto libs/media_similarity/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/(media_tagging|media_similarity)
  - id: filonov-tests
    name: filonov-tests
    entry: pytest -n auto libs/filonov/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/(media_tagging/.*|media_similarity/.*|media-fetching/.*|filonov/.*)\.py$

feat(tag): update fetcher endpoint in server and cli
  libs/media_tagging/media_tagging/entrypoints/cli.py
  libs/media_tagging/media_tagging/entrypoints/server.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): simplify langchain tagger
  docs/tagging/langchain.md
  libs/langchain-media-tagging/README.md
  libs/langchain-media-tagging/media_tagging_langchain/__init__.py
  libs/langchain-media-tagging/media_tagging_langchain/tagging_strategies.py
  libs/langchain-media-tagging/tests/unit/test_tagger.py
Due: none

feat(tag): add support for enum builtin schema in garf
  libs/media-tagging-garf/garf/community/experimental/media_tagging/__init__.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/query_editor.py
  libs/media-tagging-garf/tests/unit/test_query_editor.py
Due: none

fix(fet): update dockerfile and dependencies
  libs/media-fetching/Dockerfile
  libs/media-fetching/requirements.txt
Due: fetching-tests

fix(fet): remove unused media_types from queries
  libs/media-fetching/media_fetching/sources/queries.py
Due: fetching-tests, filonov-tests

feat(tag): extract media-tagging version garf into a dedicated module
  libs/media-tagging-garf/garf/community/experimental/media_tagging/report_fetcher.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/simulator.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/version.py
  libs/media-tagging-garf/pyproject.toml
Due: none

feat(tag): setup tagging via fetcher parameters
  libs/media-tagging-garf/README.md
  libs/media-tagging-garf/examples/README.md
  libs/media-tagging-garf/examples/description.sql
  libs/media-tagging-garf/examples/tags.sql
  libs/media-tagging-garf/garf/community/experimental/media_tagging/api_clients.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/query_editor.py
  libs/media-tagging-garf/tests/unit/test_query_editor.py
Due: none

feat(tag): improve schema handling & return placeholders in garf-media-tagging
  libs/media-tagging-garf/garf/community/experimental/media_tagging/api_clients.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/exceptions.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/query_editor.py
  libs/media-tagging-garf/pyproject.toml
Due: none

feat(tag): add trace context propagation for garf-media-tagging
  libs/media-tagging-garf/garf/community/experimental/media_tagging/api_clients.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/version.py
Due: none

fix(tag): provide correct endpoint for remote backend in garf
  libs/media-tagging-garf/garf/community/experimental/media_tagging/api_clients.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/version.py
Due: none

chore(tag): add gemini token usage to span attributes
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagging_strategies.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): always handle custom prompt as a string in garf-media-tagging
  libs/media-tagging-garf/garf/community/experimental/media_tagging/api_clients.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/version.py
Due: none

feat(tag): add support for safety settings
  docs/tagging/gemini.md
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagging_strategies.py
  libs/media_tagging/tests/unit/taggers/llm/gemini/test_tagging_strategies.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

fix(tag): correctly serialize data to repo
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/repositories.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

fix(tag): ensure that tagging details are correctly saved
  .github/workflows/publish-media-tagging.yaml
  .github/workflows/test-media-tagging.yaml
  libs/media_tagging/media_tagging/entrypoints/cli.py
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/tracer.py
  libs/media_tagging/media_tagging/media_tagging_service.py
  libs/media_tagging/media_tagging/repositories.py
  libs/media_tagging/media_tagging/taggers/base.py
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagging_strategies.py
  libs/media_tagging/media_tagging/version.py
  libs/media_tagging/pyproject.toml
  libs/media_tagging/tests/unit/test_media_tagging_service.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

chore(tag): remove garf-media-tagging
  .github/workflows/test-media-tagging-garf.yaml
  libs/media-tagging-garf/README.md
  libs/media-tagging-garf/examples/README.md
  libs/media-tagging-garf/examples/description.sql
  libs/media-tagging-garf/examples/tags.sql
  libs/media-tagging-garf/garf/community/experimental/media_tagging/__init__.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/api_clients.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/exceptions.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/query_editor.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/report_fetcher.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/simulator.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/version.py
  libs/media-tagging-garf/pyproject.toml
  libs/media-tagging-garf/tests/unit/test_query_editor.py
Due: none

ci: Github Actions workflow security fixes
  .github/workflows/publish-filonov.yaml
  .github/workflows/publish-media-fetching.yaml
  .github/workflows/publish-media-similarity.yaml
  .github/workflows/push-filonov-to-github-packages.yaml
  .github/workflows/push-media-fetching-to-github-packages.yaml
  .github/workflows/push-media-similarity-to-github-packages.yaml
  .github/workflows/push-media-tagging-to-github-packages.yaml
  .github/workflows/test-filonov.yaml
  .github/workflows/test-media-fetching.yaml
  .github/workflows/test-media-similarity.yaml
  .github/workflows/test-media-tagging-langchain.yaml
  .github/workflows/test-media-tagging.yaml
Due: none

fix(fet): convert YOUTUBE_THUMBNAIL to YOUTUBE_VIDEO in googleads
  libs/media-fetching/media_fetching/sources/googleads.py
Due: fetching-tests, filonov-tests

fix(tag): remove setuptools section from pyproject.toml
  libs/media_tagging/pyproject.toml
Due: tagging-tests, fetching-tests, similarity-tests

fix(fl): ensure that tags are correctly included into creative maps
  libs/filonov/filonov/filonov_service.py
  libs/media_similarity/media_similarity/media_similarity_service.py
Due: similarity-tests, filonov-tests

chore: add request info to otel span attributes
  libs/filonov/filonov/filonov_service.py
  libs/media_similarity/media_similarity/idf_context.py
  libs/media_similarity/media_similarity/media_similarity_service.py
Due: similarity-tests, filonov-tests
