Repository google/filonov: changes, and which pre-commit hooks are due for each by the changed paths.
All: tagging-tests, fetching-tests, similarity-tests, filonov-tests

tagging-tests:
  name: tagging-tests
  entry: pytest -n auto libs/media_tagging/tests/unit
  language: system
  pass_filenames: false

fetching-tests:
  name: fetching-tests
  entry: pytest -n auto libs/media-fetching/tests/unit
  language: system
  pass_filenames: false

similarity-tests:
  name: similarity-tests
  entry: pytest -n auto libs/media_similarity/tests/unit
  language: system
  pass_filenames: false

filonov-tests:
  name: filonov-tests
  entry: pytest -n auto libs/filonov/tests/unit
  language: system
  pass_filenames: false

fix(fet): propage source parameters from filonov CLI to fetching service
  .pre-commit-config.yaml
  libs/filonov/filonov/entrypoints/cli.py
  libs/media-fetching/media_fetching/__init__.py
  libs/media-fetching/media_fetching/media_fetching_service.py
  libs/media-fetching/media_fetching/sources/googleads.py
  libs/media-fetching/tests/unit/enrichers/test_dbm.py
Due: fetching-tests, filonov-tests

feat(fet): add support for responsive display ads
  libs/media-fetching/media_fetching/__init__.py
  libs/media-fetching/media_fetching/sources/googleads.py
  libs/media-fetching/media_fetching/sources/queries.py
Due: fetching-tests, filonov-tests

feat(sim): add support for clustering algorithm selection
  libs/media_similarity/media_similarity/media_similarity_service.py
Due: similarity-tests, filonov-tests

feat: add YOUTUBE_THUMBNAIL media type support
  libs/filonov/filonov/creative_map.py
  libs/media-fetching/media_fetching/sources/googleads.py
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/media.py
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagger.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat: unify telemetry instrumentation
  libs/filonov/filonov/__init__.py
  libs/filonov/filonov/creative_map.py
  libs/filonov/filonov/entrypoints/cli.py
  libs/filonov/filonov/entrypoints/tracer.py
  libs/filonov/filonov/filonov_service.py
  libs/filonov/pyproject.toml
  libs/media-fetching/media_fetching/__init__.py
  libs/media-fetching/media_fetching/entrypoints/cli.py
  libs/media-fetching/media_fetching/entrypoints/tracer.py
  libs/media-fetching/media_fetching/media_fetching_service.py
  libs/media_similarity/media_similarity/entrypoints/cli.py
  libs/media_similarity/media_similarity/entrypoints/tracer.py
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/entrypoints/cli.py
  libs/media_tagging/media_tagging/entrypoints/tracer.py
  libs/media_tagging/media_tagging/loaders/entrypoints/cli.py
  libs/media_tagging/media_tagging/media_tagging_service.py
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagging_strategies.py
  libs/media_tagging/pyproject.toml
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): add telemetry to server
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/media_tagging_service.py
  libs/media_tagging/pyproject.toml
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

deps(tag): add Dockerfile
  .github/workflows/push-media-tagging-to-github-packages.yaml
  libs/media_tagging/.dockerignore
  libs/media_tagging/Dockerfile
  libs/media_tagging/requirements.in
  libs/media_tagging/requirements.txt
Due: tagging-tests, fetching-tests, similarity-tests

feat(fet): propagate enable_cache parameter to YouTubeDataApi fetchers
  libs/media-fetching/media_fetching/sources/dbm.py
  libs/media-fetching/media_fetching/sources/googleads.py
Due: fetching-tests, filonov-tests

chore(sim): add tracer to most relevant functions and methods
  libs/media_similarity/media_similarity/adaptive_threshold.py
  libs/media_similarity/media_similarity/idf_context.py
  libs/media_similarity/media_similarity/media_pair.py
  libs/media_similarity/media_similarity/media_similarity_service.py
  libs/media_similarity/media_similarity/repositories.py
Due: similarity-tests, filonov-tests

ci(tag): build media-tagger with arm64 support
  .github/workflows/push-media-tagging-to-github-packages.yaml
Due: none

feat: instrument repositories
  libs/media_similarity/media_similarity/media_similarity_service.py
  libs/media_similarity/media_similarity/repositories.py
  libs/media_tagging/media_tagging/repositories.py
  libs/media_tagging/pyproject.toml
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): add metrics to gemini tagger
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagging_strategies.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

fix(sim): avoid NaN in adaptive threshold calculation
  libs/media_similarity/media_similarity/adaptive_threshold.py
  libs/media_similarity/media_similarity/idf_context.py
Due: similarity-tests, filonov-tests

fix(fet): propage parameters from fetching request to YouTube report fetcher
  libs/media-fetching/media_fetching/sources/youtube.py
Due: fetching-tests, filonov-tests

feat: ensure that all libraries are runnable as server entrypoints
  .dockerignore
  .github/workflows/push-filonov-to-github-packages.yaml
  .github/workflows/push-media-fetching-to-github-packages.yaml
  .github/workflows/push-media-similarity-to-github-packages.yaml
  docker-compose.yaml
  libs/filonov/.dockerignore
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/requirements.in
  libs/filonov/requirements.txt
  libs/media-fetching/.dockerignore
  libs/media-fetching/Dockerfile
  libs/media-fetching/media_fetching/entrypoints/server.py
  libs/media-fetching/requirements.in
  libs/media-fetching/requirements.txt
  libs/media_similarity/.dockerignore
  libs/media_similarity/Dockerfile
  libs/media_similarity/media_similarity/__init__.py
  libs/media_similarity/media_similarity/entrypoints/server.py
  libs/media_similarity/requirements.in
  libs/media_similarity/requirements.txt
  libs/media_tagging/Dockerfile
  libs/media_tagging/requirements.in
  libs/media_tagging/requirements.txt
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

deps: bump version of core libraries
  libs/filonov/filonov/__init__.py
  libs/media-fetching/media_fetching/__init__.py
  libs/media_similarity/media_similarity/__init__.py
  libs/media_tagging/media_tagging/__init__.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

deps: update requirements files
  libs/filonov/requirements.txt
  libs/media-fetching/requirements.txt
  libs/media_similarity/requirements.txt
  libs/media_tagging/requirements.txt
Due: tagging-tests, fetching-tests, similarity-tests

fix: provide correct name for media-fetching image
  .github/workflows/push-media-fetching-to-github-packages.yaml
Due: none

feat(tag): ui initial commit
  .pre-commit-config.yaml
  ui/media-tagging/.editorconfig
  ui/media-tagging/.gitignore
  ui/media-tagging/.postcssrc.json
  ui/media-tagging/.vscode/extensions.json
  ui/media-tagging/.vscode/launch.json
  ui/media-tagging/.vscode/tasks.json
  ui/media-tagging/README.md
  ui/media-tagging/angular.json
  ui/media-tagging/package-lock.json
  ui/media-tagging/package.json
  ui/media-tagging/proxy.conf.json
  ui/media-tagging/public/favicon.ico
  ui/media-tagging/src/app/app.component.css
  ui/media-tagging/src/app/app.component.html
  ui/media-tagging/src/app/app.component.spec.ts
  ui/media-tagging/src/app/app.component.ts
  ui/media-tagging/src/app/app.config.ts
  ui/media-tagging/src/app/app.routes.ts
  ui/media-tagging/src/app/components/executions/executions.component.css
  ui/media-tagging/src/app/components/executions/executions.component.html
  ui/media-tagging/src/app/components/executions/executions.component.spec.ts
  ui/media-tagging/src/app/components/executions/executions.component.ts
  ui/media-tagging/src/app/components/tagging/tagging.component.css
  ui/media-tagging/src/app/components/tagging/tagging.component.html
  ui/media-tagging/src/app/components/tagging/tagging.component.spec.ts
  ui/media-tagging/src/app/components/tagging/tagging.component.ts
  ui/media-tagging/src/app/core/components/footer.component.html
  ui/media-tagging/src/app/core/components/footer.component.ts
  ui/media-tagging/src/app/core/components/header.component.ts
  ui/media-tagging/src/app/models/tagging-request.ts
  ui/media-tagging/src/app/services/media-tagging.service.ts
  ui/media-tagging/src/index.html
  ui/media-tagging/src/main.ts
  ui/media-tagging/src/styles.css
  ui/media-tagging/tailwind.config.js
  ui/media-tagging/tsconfig.app.json
  ui/media-tagging/tsconfig.json
  ui/media-tagging/tsconfig.spec.json
Due: none

feat(tag): unify all server endpoints under /api route
  docs/tagging/gemini.md
  docs/tagging/google-cloud.md
  docs/tagging/langchain.md
  docs/tagging/overview.md
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/media.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): add celery task queue and operations endpoint
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/tasks.py
  libs/media_tagging/pyproject.toml
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(fl): add celery task processing
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/entrypoints/tasks.py
  libs/filonov/filonov/filonov_service.py
Due: filonov-tests

Path conditions:
  tagging-tests: any of: ^libs/media_tagging/
  fetching-tests: any of: ^libs/(media_tagging|media-fetching)
  similarity-tests: any of: ^libs/(media_tagging|media_similarity)
  filonov-tests: any of: ^libs/(media_tagging/.*|media_similarity/.*|media-fetching/.*|filonov/.*)\.py$
