Repository google/filonov: changes, and which pre-commit hooks are due for each by the changed paths.
All: tagging-tests, fetching-tests, similarity-tests, filonov-tests

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
    exclude: uv.lock
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.6
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: tagging-tests
    name: tagging-tests
    entry: pytest -n auto libs/media_tagging/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/media_tagging/
  - id: fetching-tests
    name: fetching-tests
    entry: pytest -n auto libs/media-fetching/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/(media_tagging|media-fetching)
  - id: similarity-tests
    name: similarity-tests
    entry: pytest -n auto libs/media_similarity/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/(media_tagging|media_similarity)
  - id: filonov-tests
    name: filonov-tests
    entry: pytest -n auto libs/filonov/tests/unit
    language: system
    pass_filenames: false
    files: ^libs/(media_tagging/.*|media_similarity/.*|media-fetching/.*|filonov/.*)\.py$

feat(fl): add celery task processing
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/entrypoints/tasks.py
  libs/filonov/filonov/filonov_service.py
Due: filonov-tests

feat(fl): add otel instrumentation to celery worker
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/entrypoints/tasks.py
  libs/filonov/pyproject.toml
Due: filonov-tests

feat(tag): add instrumentation for celery
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/tasks.py
  libs/media_tagging/pyproject.toml
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(fl): add gRPC support
  libs/filonov/filonov/entrypoints/grpc_server.py
  libs/filonov/filonov/filonov_pb2.py
  libs/filonov/filonov/filonov_pb2_grpc.py
  libs/filonov/pyproject.toml
  libs/filonov/tests/end-to-end/test_grpc_server.py
  protos/filonov.proto
Due: filonov-tests

feat(tag): add gRPC support
  .pre-commit-config.yaml
  generate_protos.sh
  libs/media_tagging/media_tagging/entrypoints/grpc_server.py
  libs/media_tagging/media_tagging/media_tagging_service.py
  libs/media_tagging/media_tagging/tagging_pb2.py
  libs/media_tagging/media_tagging/tagging_pb2_grpc.py
  libs/media_tagging/media_tagging/tagging_result.py
  libs/media_tagging/pyproject.toml
  libs/media_tagging/tests/end-to-end/test_grpc_server.py
  protos/tagging.proto
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

chore(fl): add operation_id to FastAPI span in server
  libs/filonov/filonov/entrypoints/server.py
Due: filonov-tests

chore(fl): add missing definitions to filonov proto
  generate_protos.sh
  protos/filonov.proto
Due: none

feat(fl,tag): add operation cancellation to server
  libs/filonov/filonov/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/server.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(fl,tag): add operation cancellation to server
  libs/filonov/filonov/entrypoints/server.py
  libs/filonov/filonov/entrypoints/tasks.py
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/tasks.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): reduce number of calls to DB when saving tagging results
  libs/media_tagging/media_tagging/media_tagging_service.py
  libs/media_tagging/media_tagging/repositories.py
  libs/media_tagging/tests/unit/test_media_tagging_service.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): store tagging content and details as as Text
  libs/media_tagging/media_tagging/repositories.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): add support for writer in server & celery endpoints
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/entrypoints/server.py
  libs/media_tagging/media_tagging/entrypoints/tasks.py
  libs/media_tagging/media_tagging/media_tagging_service.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

deps(tag): bump requirements
  libs/media_tagging/requirements.in
  libs/media_tagging/requirements.txt
Due: tagging-tests, fetching-tests, similarity-tests

fix(tag): ensure that custom schema can be a valid json
  libs/media-tagging-garf/garf/community/experimental/media_tagging/__init__.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/query_editor.py
Due: none

fix(tag): ensure that custom schema can be a valid json
  libs/media-tagging-garf/garf/community/experimental/media_tagging/__init__.py
  libs/media-tagging-garf/garf/community/experimental/media_tagging/query_editor.py
  libs/media-tagging-garf/tests/unit/test_query_editor.py
Due: none

feat(tag): remove special handling of output for WEBPAGE
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagging_strategies.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

fix(tag): don't raise exception on uninstalled deps for extra taggers
  libs/media_tagging/media_tagging/__init__.py
  libs/media_tagging/media_tagging/media_tagging_service.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

fix(tag): ensure that tagging works in Jupyter notebook
  libs/media_tagging/media_tagging/media_tagging_service.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

chore(tag): switch to gemini-3.1-flash-lite as default model
  libs/media_tagging/media_tagging/taggers/llm/gemini/tagger.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

chore(tag): unify otel and add index of processed medium to logging
  libs/media_tagging/media_tagging/media_tagging_service.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests

feat(tag): add support for text tagging via Langchain
  .github/workflows/test-media-tagging-langchain.yaml
  .pre-commit-config.yaml
  libs/langchain-media-tagging/media_tagging_langchain/__init__.py
  libs/langchain-media-tagging/media_tagging_langchain/tagger.py
  libs/langchain-media-tagging/media_tagging_langchain/tagging_strategies.py
  libs/langchain-media-tagging/tests/unit/test_tagger.py
Due: none

feat(tag): update fetcher endpoint in server and cli
  libs/media_tagging/media_tagging/entrypoints/cli.py
  libs/media_tagging/media_tagging/entrypoints/server.py
Due: tagging-tests, fetching-tests, similarity-tests, filonov-tests
